.door-label {
  background: white;
  border: 1px solid #777777;
  overflow: hidden;
  width: 160px;
  text-align: center;
  pointer-events: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  user-select: none; /* Standard syntax */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.door-label-topic-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 8px 0; /* Add some vertical padding */
  font-size: 0.8em;
  gap: 0.5em;
  min-height: 3em;
  width: 100%;
}

.door-label-topic-text {
  font-size: 0.9em;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 0.1em;
}

.arrow-icon {
  
}

.door-label-name {
  font-size: 0.55em;
  text-transform: uppercase;
  margin-top: 1em;
  text-align: left;
  width: 60%;
}

.door-label-subtitle {
  font-size: 0.55em;
  text-transform: uppercase;
  text-align: left;
  width: 60%;
}

.door-label-index {
  font-size: 0.5em;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}

.door-label-description {
  font-size: 0.8em;
  color: #444;
  margin: 4px 8px 8px;
}